<!DOCTYPE html>
<html>
<%- include('../../partials/head'); %>
<body>
  <h1><%= book.title%></h1>
  <%- include('../../partials/header'); %>
  <div>
    <img src = "<%= book.image_url %>"/>
    <h3><%= book.title %></h3>
    <h4><%= book.author %></h4>
    <p><%= book.description %></p>
  </div>
</body>
</html>