<!DOCTYPE html>
<html>
<%- include('partials/head'); %>
<body>
    <h1>Winter Reading List</h1>
    <h2><%= books.length %> Recommended Books</h2>
    <%- include('partials/header', {title: 'Winter Reading List'}); %>

    <% books.forEach( book => {  %>
    <div>
        <h3><%= book.title %></h3>
        <h4><%= book.author %></h4>
        <img src = "<%= book.image_url %>"/>
    </div>
    <% }) %>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
</body>
</html>
